backports.shutil-get-terminal-size==1.0.0
cycler==0.10.0
dask==0.10.0
decorator==4.0.10
ipython==4.2.1
ipython-genutils==0.1.0
matplotlib==1.5.1
networkx==1.11
numpy==1.11.1
pathlib2==2.1.0
pexpect==4.2.0
pickleshare==0.7.2
Pillow==3.3.0
ptyprocess==0.5.1
pyparsing==2.1.5
python-dateutil==2.5.3
python-igraph==0.7.1.post6
pytz==2016.4
scikit-image==0.12.3
scipy==0.17.1
simplegeneric==0.8.1
six==1.10.0
toolz==0.8.0
traitlets==4.2.2
